<div class='mt-24'  >
  <p class='text-5xl indent-48 ml-8 max-w-7xl'>{{data[0].selected_text}}</p>
  
  <div class='flex justify-between mx-12 my-10'>
      <img src={{data[0].big_image}} />
    
      <div class='flex justify-center'>
        <div class='w-56 flex flex-col justify-between'>
          <p class='text-sm'>{{data[0].main_text1}}</p>
          <img class='w-full object-cover' src={{data[0].small_image2}} />
        </div>
    
        <div class='w-56 ml-10'>
          <p class='mb-5 text-sm'>{{data[0].main_text2}}</p>
          <img  class='w-full object-cover' src={{data[0].small_image1}} />
        </div>
      </div>
  </div>
  
</div>